* {
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
}

h1, h2, h3, p, a {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.5rem;
}

h1, h2, h3, p {
    color: black;
}

h1, h2 {
    font-weight: bold;
}

h1 {
    font-size: 3rem;
}

h2, th {
    font-size: 2.5rem;
    font-style: italic;
}

h3 {
    font-size: 2rem;
}

p, td {
    font-size: 1.5rem;
}


a, a:link, a:link p {
    text-decoration-color: #39A0ED;
    color: #39A0ED;
}
a:visited, a:visited p {
    color: green;
}
a:hover, a:hover p {
    color: #7CC0F3;
}
a:active, a:active p {
    color: #1588E0;
}

section, figure, tr {
    margin: 1em;
    border-style: solid;
    border-radius: 2em;
    border-color: black;
    padding: 1em;
}

img {
    width: min(100%, 720px);
    height: auto;
}

table {
    border-style: solid;
    border-color: black;
}

th {
    border-style: dashed;
    border-color: black;
    padding: 0.5rem;
}

td {
    border-style: dotted;
    border-color: black;
}

ul, ol {
    margin: 2em;
}